* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.container {
  position: relative;
  height: 90vh;
  overflow: scroll;
  width: 50.625vh;
  border-radius: 20px;
  scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
  display: none;
}
